.bottomDetail { display: flex; justify-content: center; align-items: center; padding: 3rem 0; animation: slideDown 1.5s both; }
.img { width: 10rem; margin-right: 3rem; }



@keyframes slideDown {
    0% {
        height: 0; opacity: 0;
    }
    50% {
        height: 15rem; opacity: 0;
    }
    100% {
        opacity: 1;
    }
}